*{
    margin: 0;
    padding: 0;
    
    box-sizing: border-box;
}
.border{
    width: 350px;
    height: 150px;
    background-color: rgb(203, 243, 247);
    color: black;
    border: 1px solid rgb(0, 0, 0);
    padding: 30px;
    margin: 10px;
    
}
.cir{
    list-style-type: circle;
}
.cir:hover{
    color: red;
    margin-left: 30px;
    
}
